In [16]:
# 月曜日の平均
dr = pd.date_range(start="2017-01-01", periods=365, freq='W-SAT')
df = pd.DataFrame(np.random.randint(1,31,365),
    columns=["乱数"], index=dr)
df.head()


#print(df['date'][i], df['price'][i])

            乱数
2017-01-07   1
2017-01-14  10
2017-01-21  14
2017-01-28  27
2017-02-04  25

In [20]:
# データロード
import pandas as pd
import numpy as np

df = pd.read_csv('t_yuki.csv', index_col="date", parse_dates=True)
df.head()

            price
date
2018-12-21   8966
2018-12-20   9148
2018-12-19   9267
2018-12-18   9284
2018-12-17   9483

In [101]:
# 試作
df = pd.read_csv('t_yuki.csv')
df['date'] = df['date'].astype('datetime64')
df.head()

df0 = pd.DataFrame(np.full([100,2],0))
df0.shape

j = 0

for i in range(len(df)):    
    if df['date'][i].weekday() == 0: # 月曜日(0)なら
            df0.iloc[j,0] = df['date'][i]
            df0.iloc[j,1] = df['price'][i]
            j += 1
df0.head()

                     0     1
0  2018-12-17 00:00:00  9483
1  2018-12-10 00:00:00  9498
2  2018-12-03 00:00:00  9970
3  2018-11-26 00:00:00  9594
4  2018-11-19 00:00:00  9856

In [172]:
# 各曜日だけの価格をDF化（df0 ~ df6)

df = pd.read_csv('t_yuki.csv')
df['date'] = df['date'].astype('datetime64')

df0 = pd.DataFrame(np.full([100,2],0)) # 曜日0（月曜）
df1 = pd.DataFrame(np.full([100,2],0)) # 曜日1
df2 = pd.DataFrame(np.full([100,2],0)) # 曜日2
df3 = pd.DataFrame(np.full([100,2],0)) # 曜日3
df4 = pd.DataFrame(np.full([100,2],0)) # 曜日4（金曜）（取引は平日のみなので最終）

j0,j1,j2,j3,j4 = 0,0,0,0,0

for i in range(len(df)):    
    if df['date'][i].weekday() == 0: # 月曜日(0)なら
            df0.iloc[j0,0] = df['date'][i].date()
            df0.iloc[j0,1] = df['price'][i]
            j0 += 1    
    elif df['date'][i].weekday() == 1: # 1なら
            df1.iloc[j1,0] = df['date'][i].date()
            df1.iloc[j1,1] = df['price'][i]
            j1 += 1    
    elif df['date'][i].weekday() == 2: # 2なら
            df2.iloc[j2,0] = df['date'][i].date()
            df2.iloc[j2,1] = df['price'][i]
            j2 += 1    
    elif df['date'][i].weekday() == 3: # 3なら
            df3.iloc[j3,0] = df['date'][i].date()
            df3.iloc[j3,1] = df['price'][i]
            j3 += 1    
    elif df['date'][i].weekday() == 4: # 4なら
            df4.iloc[j4,0] = df['date'][i].date()
            df4.iloc[j4,1] = df['price'][i]
            j4 += 1
    else: print(error)

dfm = pd.DataFrame([
    ['月曜',round(df0[0:j0][1].mean(),0)],
    ['火曜',round(df1[0:j1][1].mean(),0)],
    ['水曜',round(df2[0:j2][1].mean(),0)],
    ['木曜',round(df3[0:j3][1].mean(),0)],
    ['金曜',round(df4[0:j4][1].mean(),0)],
])
dfm # 曜日ごとの平均値

    0        1
0  月曜  10006.0
1  火曜  10039.0
2  水曜  10047.0
3  木曜  10047.0
4  金曜  10048.0

In [ ]:
# 結論：　月曜日が最も安い(0.4%程度しか違わんw)
#　　　　　（毎月何日が安いか調べても面白そう）